/* CSS declarations go here */
*{
	margin: 0;
	padding: 0;
}
button{
	padding: 10px;
}

.selected{
	background: red;
	padding: 10px;
}

.user{
	padding: 15px;
	background: #eee;
	margin-bottom: 4px;
	margin-right: 4px;
	width: 270px;
	float:left;
}
.user .name{
	font-size: 19px;
	font-weight: bold;
}
.user div{
	display: inline-block;
}
.user .score{
	float: right;
}

.canvas-wrapper{
	position: relative;
}
#overlayCanvas{
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
}
#gameCanvas{
	z-index: -1;
}

#scoreboard{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 300px;
	font-family: Offside;

}

#scoreboard .header{
	padding: 15px;
	background: #919191;
	color:black;
	margin-bottom: 4px;
	margin-right: 4px;
	width: 270px;
	float:left;
}

#scoreboard .header div{
	display: inline-block;	
}
#scoreboard .header .name{
	font-size: 19px;
	font-weight: bold;
	color: rgb(87, 81, 81);
}
#scoreboard .header .score{
	float:right;
	color: rgb(87, 81, 81);
}
#scoreboard h1{
	text-align: center;
	margin-bottom: 6px;
}
.clearfix{
	clear:both;
}
.info-item{
	display: block;
}

.currentUser{
	background: #BDD7FF !important;

}