
.lobby-wrapper h1{
	float: left;
	margin-bottom: 20px;

}
.lobby-wrapper h4{
	margin-bottom: 8px;
}

.lobby-wrapper{
	width: 800px;
	padding: 60px;
	margin: 40px auto;

	/*padding: 20px 100px;*/
	border: 1px solid #ddd;
	padding-bottom: 60px;

}



.games-available-wrapper .header{
	background: #aaa;
	color: white;
	padding: 7px 10px;

}
	.games-available-wrapper .header .game{
		display: inline-block;
		width: 320px;
	}

	.games-available-wrapper .header .size{
		margin-left: 115px; 
	}
	

	.games-available-wrapper .header .players{

		float: right;
	}

.games-available{
	height: 360px;
	overflow-y: auto;
	border: 1px solid #888;
	margin-bottom: 20px;
	background: white;
}

.game-listitem{
	padding: 10px;
	cursor: default;
	list-style-type: none;
}
	.game-listitem .gamename{
		display: block;
		overflow-x:hidden; 
		margin-right: 20px;
		width: 400px;
		float: left;
	}
	.game-listitem .size{
		margin-left: 40px;
		float: left;
	}

	.game-listitem .players{
		float: right;
		margin-right: 20px;
	}

.game-listitem:hover{
	background: #60BAD1;

}

.lobby-wrapper #login-buttons{
	float: right; 
}
